<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>SudokuGame</Name>
    <Version>1.0.0</Version>
    <Title>SudokuGame Installer</Title>
    <Publisher>TheYeetMeister Games</Publisher>
    <StartMenuDir>Super App</StartMenuDir>
    <TargetDir>@HomeDir@/SudokuGame</TargetDir>
</Installer>
